.cbContainer {
    position: fixed;
    top: 30%;
    /* start near button */
    left: 90%;
    width: 400px;
    height: 500px;
    z-index: 1001;
    background-color: #fff;

    box-shadow: -3px 5px 5px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    transform: scale(0);
    opacity: 0;
    transition:
        top 0.2s ease,
        left 0.2s ease,
        opacity 0.2s ease,
        transform 0.3s ease-in-out;

    z-index: 1002;

}

.cbContainer.open {
    top: 2%;
    left: 68%;
    transform: scale(1);
    opacity: 1;
}


.cbTop {
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #1f7a8c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    text-shadow: 1px 1px 1px black;
    justify-content: space-between;
    align-items: center;

}

.cbTitle {
    display: flex;
    flex-direction: column;

}

.cbName {
    font-size: 15px;
    font-weight: 600;

}

.cbHook {
    font-size: 13px;
}

.cbRe {
    width: 30px;
    z-index: 1001;
    filter: invert(1);
}

.cbRe img {
    object-fit: contain;
    width: 20px;
}

.cbRe img:hover {
    cursor: pointer;
    width: 21px;
}

.cbBack {
    width: 30px;
    z-index: 1001;
    filter: invert(1);
}

.cbBack img {
    object-fit: contain;
    width: 20px;
}

.cbBack img:hover {
    cursor: pointer;
    width: 21px;
}

.cbInputs {
    height: 55px;
    background-color: #e1e5f2;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cbButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 5px;
    margin: 15px 15px;

}

.cbArea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.bubble {
    width: 200px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px;
    margin: 8px 5px;
    text-shadow: 1px 1px 1px black;
}

.bubble.bot {
    background-color: #3099ae;

}

.bubble.user {
    background-color: #217e62;
    align-self: flex-end;
}

.cbOp {
    padding: 7px 9px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.333);
    color: rgba(0, 0, 0, 0.733);
    transition: backgroundColor 1s ease-in;
}

.cbOp:hover {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: #117f6f;
}

.cbTxt {
    all: unset;
    background-color: #ffffff;
    padding: 10px 10px;
    width: 90%;
    height: 50%;
    font-size: 14px;
    text-align: left;
    color: black;
    border: none;
    border-radius: 3px;
    caret-color: black;
}

.chatbot .myPhoneContainer .myPhoneInput {

    padding: 0px 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;

}

.chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
}


.chatbot .react-tel-input .country-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateX(-15px);
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
    z-index: 10;
    list-style: none;
    padding: 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
    background-color: white;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 3px;
}


@media (max-width: 768px) {
    .cbContainer.open {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    .cbTop,
    .cbInputs {
        border-radius: 0px;
    }

}

@media screen and (max-width: 768px) {

     .cbContainer.open {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    .cbTop,
    .cbInputs {
        border-radius: 0px;
    }
}