.fade-in {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.8s ease-out, transform 0.6s ease-out;
  z-index: 4;
}

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}


