.introSlide,
.introContent,
.expertiseSlide,
.cards,
.card,
.whyUsSlide,
.whyTop,
.whyContent,
.whyList,
.whyPoint,
.wpText,
.feedbackSlide,
.slide,
.feedbackCarousal {
    display: flex;
}

.introSlide {
    position: relative;
    padding: 100px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.introSlide video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.introSlide video {
    background-color: black;
}

.hook,
.intro,
.degrees {
    z-index: 3;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(180deg,
            #05c2af 0%,
            #06b894 50%,
            #08a66c 100%);
    background-size: 300% 300%;
    opacity: 0.7;
}

.introAbout {
    z-index: 3;
}

@keyframes diagonalSlide {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


.introContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    height: 100%;
}

.introContent>div {
    display: flex;
    flex-direction: column;



}

.hook {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #e1e5f2;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.intro {
    font-size: 50px;
    font-weight: 800;
    padding: 35px 0;
    padding-bottom: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.medal {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    z-index: 3;
    margin-bottom: 50px;
    color: #ffdf00;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.degrees {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.introImg {
    height: 500px;
    width: auto;
    object-fit: contain;

}

.quoteSlide {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 100px 80px;
    font-style: italic;
    flex-direction: row;
    display: flex;
    gap: 100px;

}



.quoteSlide>img {
    max-width: 450px;
    height: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.q {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

.feedbackCarousal {
    justify-content: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;

}

.quotationMarks {
    font-size: 50px;
    color: #149BF3;
}

.expertiseSlide {
    background-color: white;
    color: black;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.expertiseHook {
    color: #1f7a8c;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
}

.cards {
    flex-wrap: wrap;
    color: black;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 0px 100px;
    cursor: pointer;
}

.card {
    padding: 30px;
    border: 1px solid #1f7a8c;
    border-radius: 10%;
    flex-direction: column;
    max-width: 230px;
    height: 250px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: box-shadow 0.5s ease-in-out,
        transform 0.5s ease-in-out;
    overflow: auto;

    will-change: transform;

}

.card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    background-color: #1f7a8c;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid black;

}

.card:hover img {
    filter: invert(1);
}


.card>img {
    max-width: 40px;
    height: auto;
    object-fit: contain;
    margin: 10px 20px
}

.card>div {
    font-size: 18px;
    text-align: center;


}

.cardTitle {
    font-weight: 800;
    font-size: 22px;
}

.whyUsSlide {
    background-color: white;
    color: black;
    padding: 50px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.whyTitle {
    font-size: 50px;
    font-weight: 700;
    color: black;

}

.whyTitle>span {
    color: #1f7a8c;
    margin-top: 10px;
}

.wpText {
    flex-direction: column;
    color: hsl(300, 1%, 50%);
}

.pointTitle {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;
}

.whyTop {
    flex-direction: column;
    justify-content: left;
    align-self: flex-start;
    margin-bottom: 30px;

}

.whySubscript {
    color: hsl(300, 1%, 50%);
    font-size: 18px;
}

.whyList {
    gap: 10px;
    max-width: 60%;
    flex-direction: column;
}

.whyPoint {
    transition: box-shadow 0.2s ease-in-out;
    padding: 15px 30px;
    -webkit-transform: translateZ(0);
}

.whyImg {
    width: 50px;
    height: auto;
    padding: 5px 10px;
}

.whyImg,
.whyImgBig {
    object-fit: contain;
    max-width: 40%;
    height: auto;
}

.whyPoint:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    
}

.feedbackSlide {
    justify-content: center;
    align-items: center;
    margin: 100px 5px;
    flex-direction: column;
}

.feedbackHook {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 40px;
    text-align: center;
}

.feedbackNumber {
    color: hsl(300, 1%, 50%);
    font-size: 20px;

    text-align: center;
}

.Larrow {
    transform: rotate(180deg);

}

.Larrow,
.Rarrow {
    width: 40px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* hover states */
.Larrow:hover {
  transform: rotate(180deg) scale(1.1); /* rotation + scale together */
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4)) brightness(1.2);
}

.Rarrow:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4)) brightness(1.2);
}

/* optional pressed state */
.Larrow:active{
  transform: rotate(180deg) scale(0.95);
  filter: brightness(0.9);
}
.Rarrow:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.slide {
    background-color: #1f7a8c;
    min-width: 40vw;
    max-width: 50vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.listItem.Hom {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    min-height: 90%;
    min-width: 27%;
    max-width: 27%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    border-radius: 2%;
    margin: 20px 2px;
    overflow: auto;
    line-height: 1.2;

}


ul {
    list-style: none;
}

.fbList {
    display: flex;
    gap: 30px;
    align-self: center;
    min-width: 60vw;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 300px;
}

.starList {
    display: flex;
    align-self: flex-start;
}

.starList img {
    width: 20px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.fbText {
    font-size: 15px;
    font-weight: 500;
    padding: 20px 20px;
}

.fbTitle {
    align-self: flex-end;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

.carousalHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fbLink {
    text-decoration: underline;
    color: blue;
    margin: 60px;
}

.fbLink:visited,
.fbLink:hover {
    color: purple;
}

.bar {
    width: 100%;
    height: 70px;
    background-color: #1f7a8c;
    margin: 100px 0;
}





.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 30px;
}

.button-21:active,
.button-21:focus {
    outline: none;
}

.button-21:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.quoteImg {
    border-radius: 30px;
}

.break {
    display: block;
    /* acts like <br> */
}

.break.mobil {
    margin-bottom: 10px;
}

/* linear-gradient(1deg, #4F58FD, #149BF3 99%) */
.highlight {
    color: #fff;
    font-weight: 800;
    line-height: 1.7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (width <=1050px) {
    .cards {
        padding: 0px 50px;
    }

    .card {
        height: 190px;
    }

    .introSlide {
        padding: 100px 0px;

    }
}

@media screen and (max-width :1050px) {
    .cards {
        padding: 0px 50px;
    }

    .card {
        height: 190px;
    }

    .introSlide {
        padding: 100px 0px;

    }
}

@media screen and (width <=768px) {

    .q {
        font-size: 20px;
    }

    .q>div {
        margin-bottom: 20px;
    }

    .quotationMarks {
        font-size: 30px;
    }

    .expertiseHook {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .bar {
        margin: 80px 0px;
    }

    .whyImgBig {
        max-width: 0px;
    }

    .whyUsSlide {
        padding: 0px 0px;
    }

    .whyImg {
        max-width: 20%;
        width: 50px;
        height: auto;
        padding: 20px;
    }

    .whyPoint {
        max-width: 90%;
        padding: 10px 15px;
    }

    .whyList {
        max-width: 100%;
        gap: 15px;
    }

    .whyTop {
        padding: 10px 30px;
    }

    .whyTitle {
        font-size: 35px;
    }

    .whySubscript {
        font-size: 15px;
    }

    .whyUsSlide {
        padding: 0px;
    }

    .pointTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .pointText {
        font-size: 15px;
    }

    .break {
        display: none;
    }

    .mobil {
        display: block;
        margin-bottom: 10px;
    }

    .intro {
        font-size: 38px;
    }

    .medal {
        font-size: 20px;
    }

    .hook {
        font-size: 18px;
    }

    .degrees {
        font-size: 18px;
        margin-bottom: 10px;

    }

    .button-21 {
        font-size: 15px;
    }

    .feedbackHook {
        font-size: 30px;
    }

    .feedbackNumber {
        font-size: 15px;
    }

}

@media screen and (max-width : 768px) {

    .q {
        font-size: 20px;
    }

    .q>div {
        margin-bottom: 20px;
    }

    .quotationMarks {
        font-size: 30px;
    }

    .expertiseHook {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .bar {
        margin: 80px 0px;
    }

    .whyImgBig {
        max-width: 0px;
    }

    .whyUsSlide {
        padding: 0px 0px;
    }

    .whyImg {
        max-width: 20%;
        width: 50px;
        height: auto;
        padding: 20px;
    }

    .whyPoint {
        max-width: 90%;
        padding: 10px 15px;
    }

    .whyList {
        max-width: 100%;
        gap: 15px;
    }

    .whyTop {
        padding: 10px 30px;
    }

    .whyTitle {
        font-size: 35px;
    }

    .whySubscript {
        font-size: 15px;
    }

    .whyUsSlide {
        padding: 0px;
    }

    .pointTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .pointText {
        font-size: 15px;
    }

    .break {
        display: none;
    }

    .mobil {
        display: block;
        margin-bottom: 10px;
    }

    .intro {
        font-size: 38px;
    }

    .medal {
        font-size: 20px;
    }

    .hook {
        font-size: 18px;
    }

    .degrees {
        font-size: 18px;
        margin-bottom: 10px;

    }

    .button-21 {
        font-size: 15px;
    }

    .feedbackHook {
        font-size: 30px;
    }

    .feedbackNumber {
        font-size: 15px;
    }

}


@media screen and (width <=600px) {

    .quoteSlide>img {
        max-width: 350px;
    }

    .quoteSlide {
        gap: 0px;
        padding: 100px 20px;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .button-21 {
        margin: 0px auto;

    }

    .card>div {
        font-size: 12px;

    }

    .card {
        max-width: 150px;
        padding: 20px 10px;
        height: 160px;
        overflow: auto;
    }

    .expertiseSlide {
        padding: 0px 5px;
    }

    .cards {
        gap: 10px;
        padding: 0px;
    }

    .listItem.Hom {
        padding: 10px 10px;
        min-width: 280px;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
        border-radius: 2%;
        margin: 10px 2px;
        max-width: 300px;
        justify-content: space-between;
        margin: 10px 2px;
        overflow: auto;
        line-height: 1.2;
    }

    .fbList {
        min-width: 100vw;
        gap: 10px;
        justify-content: center;
        margin-right: 20px;
    }

    .slide {
        background-color: #1f7a8c;
        min-width: 40vw;
        max-width: 70vw;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
}






@media screen and (max-width :600px) {

    .quoteSlide>img {
        max-width: 350px;
    }

    .quoteSlide {
        gap: 0px;
        padding: 100px 20px;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .button-21 {
        margin: 0px auto;

    }

    .card>div {
        font-size: 12px;

    }

    .card {
        max-width: 150px;
        padding: 20px 10px;
        height: 160px;
        overflow: auto;
    }

    .expertiseSlide {
        padding: 0px 5px;
    }

    .cards {
        gap: 10px;
        padding: 0px;
    }

    .listItem.Hom {
        padding: 10px 10px;
        min-width: 280px;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
        border-radius: 2%;
        margin: 10px 2px;
        max-width: 300px;
        justify-content: space-between;
        margin: 10px 2px;
        overflow: auto;
        line-height: 1.2;
    }

    .fbList {
        min-width: 100vw;
        gap: 10px;
        justify-content: center;
        margin-right: 20px;
    }

    .slide {
        background-color: #1f7a8c;
        min-width: 40vw;
        max-width: 70vw;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
}