.MediaIntroSlide {
    display: flex;
    background-image: linear-gradient(180deg,
            #0ee4d0,
            #0fe2cd,
            #0fe1ca,
            #0fdfc6,
            #10dec3,
            #10dcc0,
            #10dbbd,
            #10d9ba,
            #11d7b6,
            #11d6b3,
            #11d4b0,
            #11d3ad,
            #11d1aa,
            #12d0a8,
            #12cea5,
            #12cda2,
            #12cb9f,
            #13ca9c,
            #13c899,
            #13c797,
            #13c594,
            #13c491,
            #14c28f,
            #14c08c,
            #14bf8a,
            #14bd87,
            #14bc85,
            #14bb82,
            #15b980,
            #15b87d);
    background-size: 300% 300%;
    animation: diagonalSlide 20s ease-in-out infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    will-change: background-position;
    color: white;
    padding: 150px 50px;
    justify-content: center;
    align-items: center;

}

.introSlide.media .intro {
    font-size: 70px;
    margin-bottom: 5px
}

.introSlide.media .hook {
    font-size: 20px;
}

.introSlide.media .degrees {
    font-size: 30px;
}


.medAchHolder {
    display: flex;
    align-items: center;
    border-radius: 5%;
    width: 100%;
    font-size: 20px;
}


.medAch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    max-height: 40px;
    overflow: hidden;
    transition: max-height 2s ease;

}

.medAch>* {
    width: 100%;
}

.inCard {
    max-width: 80%;
    max-height: 250px;
    margin: 30px 50px;
    background-color: #1f7a8c;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.cases {
    padding: 40px 20px;
}

.casePoint {
    list-style: none;
    margin: 10px 0;
}

.caseBody {

    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    color: rgb(86, 82, 82);
    font-size: 28px;
}

.mediaCaseHeading {
    margin: 10px 40px;
    color: black;
}

.plus {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.pictureGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;

}

video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-transform: translateZ(0);
}

.medAchHolder.pic {
    padding-left: 10px;
    font-size: 20px;
}

.picSlide {
    display: flex;
    max-height: 0px;
    width: 100%;
    background-color: #15b77c;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: max-height 1s ease;
    overflow-y: hidden;
}

.pgli {
    width: 100%;
    height: 100%;
    animation: slideHorizontal 20s linear infinite;
}

.pgli img {
    object-fit: cover;
    width: 250px;
    height: 350px;
}

@keyframes slideHorizontal {

    0%,
    50%,
    100% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(370px);
    }

    75% {
        transform: translateX(-360px);
    }
}

.videoGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.vidSlide {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-bottom: 100px;
}


iframe {
    width: 350px;
    height: 215px;
    border: none;
    margin: 20px 50px;
}

.medAch iframe {
    width: 100%;
    height: 200px;

}

.vidCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1f7a8c;
    width: 350px;
    height: 215px;
    padding: 5px 0px;
    padding-bottom: 50px;
    margin: 30px 40px;
}

.normalHeading.edu {
    font-size: 28px;
}

.videoLoader {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background gradient with a slight animation */
.loaderGradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #05c2af, #08a66c);
    animation: gradientShift 5s ease-in-out infinite alternate;
}

@keyframes gradientShift {
    0% {
        filter: brightness(1) blur(0px);
    }

    100% {
        filter: brightness(1.1) blur(2px);
    }
}

/* Centered loader content */
.loaderContent {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Simple spinner */
.spinner {
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 12px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



@media screen and (width <=600px) {
    .medAch {
        padding: 10px;
    }

    .cases {
        padding: 0px;
    }

    .medAchHolder {
        justify-content: center;
        align-items: center;
        margin: 0px;
        font-size: 15px;
    }

    .medAchHolder.pic {
        margin: 0px;
        padding: 0px;
        font-size: 15px;
    }

    h1.normalHeading {
        font-size: 20px;
    }


    .pgli img {
        max-width: 250px;
        max-height: 250px;
    }

    .caseList {
        padding: 15px;
    }

    .inCard {
        max-width: 100%;
        max-height: 200px;
        margin: 15px 0px;
        background-color: #1f7a8c;
        padding: 0px;
    }

    .inCard iframe {
        max-height: 180px;
        max-width: 100%;
        margin:10px 8px;
        margin-top: 20px;
    }

    .MediaIntroSlide {
        padding: 150px 20px;
    }

    .introSlide.media {
        padding: 100px 20px;
    }

    .introSlide.media .intro {
        font-size: 40px;
        margin-bottom: 5px
    }

    .introSlide.media .hook {
        font-size: 15px;
    }

    .introSlide.media .degrees {
        font-size: 20px;
    }


}

@media screen and (max-width :600px) {
    .medAch {
        padding: 10px;
    }

    .cases {
        padding: 0px;
    }

    .medAchHolder {
        justify-content: center;
        align-items: center;
        margin: 0px;
        font-size: 15px;
    }

    .medAchHolder.pic {
        margin: 0px;
        padding: 0px;
        font-size: 15px;
    }

    h1.normalHeading {
        font-size: 20px;
    }


    .pgli img {
        max-width: 250px;
        max-height: 250px;
    }

    .caseList {
        padding: 15px;
    }

    .inCard {
        max-width: 100%;
        max-height: 200px;
        margin: 15px 0px;
        background-color: #1f7a8c;
        padding: 0px;
    }

    .inCard iframe {
        max-height: 180px;
        max-width: 100%;
    }

    .MediaIntroSlide {
        padding: 150px 20px;
    }

    .introSlide.media {
        padding: 100px 20px;
    }

    .introSlide.media .intro {
        font-size: 40px;
        margin-bottom: 5px
    }

    .introSlide.media .hook {
        font-size: 15px;
    }

    .introSlide.media .degrees {
        font-size: 20px;
    }


}